// Mixins Here

.btn-layout (@justify, @align, @width, @text-align) {
	display: flex;
	justify-content: @justify;
	align-items: @align;
	width: @width;
	text-align: @text-align;
}

.btn-design (@background-color, @color, @weight, @font-size, @padding, @margin, @radius) {
	background-color: @background-color;
	color: @color;
	weight: @weight;
	font-size: @font-size;
	padding: @padding;
	margin: @margin;
	border-radius: @radius;
}

.btn {
	.btn-layout(center, center, 25%, center);
	.btn-design(black, #FFFFFF, bold, 1.5em, 10px, 4px, 4px);
	
	@media @phone {
		.btn-layout(center, center, 100%, center);
	}
}